@import "tailwindcss";
@font-face {
  font-family: "pricedown";
  src: url("./public/Pricedown Bl.otf");
}
@font-face {
  font-family: "GTAArtDeco";
  src: url("./public/GTAArtDeco.woff2");  
}
html,
body {
    width: 100%;
    height: 100%;
    font-family: "pricedown";
}

