@import "tailwindcss";
@font-face {
  font-family: "pricedown";
  src: url("/Pricedown Bl.woff2");
}
@font-face {
  font-family: "GTAArtDeco";
  src: url("./GTAArtDeco.woff2");  
}
@font-face {
  font-family: "helvetica-now-display-medium";
  src: url("/helvetica-now-display-medium.woff2");
}
html,
body {
    width: 100%;
    height: 100%;
    font-family: "pricedown";
}

